@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

/*font-family: 'Rubik', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: #020403;
    color: #ffffff;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    
    }


    

.ff-rubik-45 {
    font-family: 'Rubik', sans-serif;
    font-size: 45px; 
       

}

.ff-rubik-18 {
    font-family: 'Rubik', sans-serif;
    font-size: 18px; 
       

}
.ff-rubik-18 {
    font-family: 'Rubik', sans-serif;
    font-size: 18px; 
       

}

.ff-rubik-16 {
    font-family: 'Rubik', sans-serif;
    font-size: 18px; 
       

}

.ff-rubik-semibold150 {
    font-family: 'Rubik', sans-serif;
    font-size: 150px; 
    font-weight: bold;
       

}
.ff-rubik-semibold40 {
    font-family: 'Rubik', sans-serif;
    font-size: 40px; 
    font-weight: bold;
       

}

.ff-rubik-semibold50 {
    font-family: 'Rubik', sans-serif;
    font-size: 50px; 
    
       

}
.ff-rubik-medium25 {
    font-family: 'Rubik', sans-serif;
    font-size: 25px; 
    font-weight:medium;
       

}

.home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    
    
}

.home h1{
    
    font-size: 4rem;    

    
    
    
    
    
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
} 
 
.menu{
    display: flex;
    width: 70%;
    padding-top: 50px;
    margin-left: 30%;
    justify-content: space-around;
    margin-bottom: 80px;

}

.ico__social{
 display: flex;
 justify-content: center;
 gap: 3rem;
margin-top: 3rem;
 

 
    
}

.habilidades{
   display: flex;
   flex-direction: column;
   gap: 5rem;

    
}
.ico_habi{
    padding: 0 20%;
    gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}
 
    
    
    
    
   

.about{
    margin-left: 8rem;
    margin-bottom: 8rem;
    
    margin-right: 5rem;
    
    
    
    
    

    
    

}

.about p{
    padding-top: 3rem;
    margin: auto;
   
    
    
}

    

.experiencia{
display:flex;
flex-direction: column;


}
.content_expe{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    padding-left: 300px;
    margin-left: 10%;
    margin-right: 35%;
}
    
.icon__menu{
    display: none;
}   
.content__menu{
    display: none;
}
    
    



.contacto {
 justify-content: center;
 margin-top: 2rem;
  
}
.img_cont{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .navbar{
        display: none;
    }
    .title_experiencia{
        margin-top: 4rem;
    }
    .ico_habi{
        display: flex;
        flex-direction: column;
    }
   

    .icon__menu{
        position: relative;
        z-index: 60001;
    
        display: flex;
        justify-content: start;
    }
    .content_expe{
        align-content: flex-start;
        padding-left: 0px;
        margin-left: 0;
        margin-right: 0
        ;
    }
    
    .icon__menu img {
        margin: 20px;
        border-radius: 12px;
        width: 40px;
        cursor: pointer;
        background-color: blue;
        position: fixed;
        
    }

    .content__menu {
        background-color: white;
        min-width: 50%;
        height: 100vh;
        position: fixed;
        transition: transform 0.5s;
        z-index: 60000;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    
    .active {
        transform: translateX(-100%);
    }
    
    .content__menu ul {
        list-style: none; 
        background-color: #ffffff;
    } 
    
    .content__menu ul li {
        text-decoration: none;
        background-color: #ffffff;
        margin: 30px 20px;
        text-align: center;
        cursor: pointer;
    }
    
    .content__menu ul li a {
        text-decoration: none;
        background-color: #ffffff;
        color: black;
        font-size: 1.5rem;
    }
    
    .content__menu ul li:hover {
        background-color: rgb(113, 99, 241);
        text-decoration: none;
    } 
    .about{
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 2rem;
        margin-right: 0;
        
        
        
        
        
    
        
        
    
    }
}
